
*.log
WakeCountyDataAnalysis/backend/__pycache__
WakeCountyDataAnalysis/backend/node_modules
WakeCountyDataAnalysis/backend/myproject
WakeCountyDataAnalysis/frontend/.next
WakeCountyDataAnalysis/frontend/node_modules


